:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(0, 0, 0, 0.87);
  background-color: #d8d8d8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0%;
  overflow-x: hidden;
  width: 100%
}

body {
  padding: 0;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(189, 185, 185);
  font-family: 'Courier New', Courier, monospace;
  
}

h1 {
  padding-left: 2%;
  text-align: left;
  font-size: 1.8em;
  line-height: 1.1;
}

.header {
  position: sticky; top: 0;
  display: flex;
  font-size: 10%;
  flex-direction: row;
  padding: 10px;
  text-align: center;
  background: rgb(173, 0, 0);
  border-bottom-left-radius: 2.5rem;
  /* overflow-x:auto; */
  color: white;
  font-size: 30px;
  /* white-space: nowrap; */
  border-right: 3px solid #333333;
  border-bottom: 3px solid #333333;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%,
}

.linkInHeader{
  background-color: #ffffff;
  text-decoration: none;
  text-align: left;
  color: #ffffff;
  /* padding: 10px; */
  padding-top: 1rem;
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 0%;
  margin-left: 10px;
  font-size: 1.5rem;
  border-radius: 5%;
  border-top: 5px solid #CCCCCC;
  border-right: 5px solid #333333;
  border-bottom: 5px solid #333333;
  border-left: 5px solid #CCCCCC;;
}

nav{  
  margin-top: 2px;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  background-color: rgb(240, 238, 238);
  border-radius: 2rem;
  border-top: 3px solid #CCCCCC;
  border-right: 3px solid #333333;
  border-bottom: 3px solid #333333;
  border-left: 3px solid #CCCCCC;
}
main{
  display: flex;
  flex-flow: column;
  height: 100%;
  min-width: 57%;
  width: 100%;
  padding: 20px;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  margin-top: 2px;
  background-color: rgb(235, 235, 235);
  border-radius: 2rem;
  border-top: 3px solid #CCCCCC;
  border-right: 3px solid #333333;
  border-bottom: 3px solid #333333;
  border-left: 3px solid #CCCCCC;
}

.logo{
  border-radius: 5%;
  height: 90px;
  margin-left: 35%;
 margin-top: 0.05rem;
 border-top: 3px solid #CCCCCC;
 border-right: 3px solid #333333;
 border-bottom: 3px solid #333333;
 border-left: 3px solid #CCCCCC;
}


.linkInHeader#first{
  color: rgb(173, 0, 0);
}

.linkInHeader#second {
  color: rgb(173, 0, 0);
}

.linkInHeader#third {
  color: rgb(173, 0, 0);
}

li{
  padding: 15px;
  padding-left: 15px;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  background-color: rgb(255, 199, 199);
  text-align: left;
  margin: 2px;
  margin-left: 18%;
  list-style-type: none;
  border-radius: 2rem;
  border-top: 3px solid #CCCCCC;
  border-right: 3px solid #333333;
  border-bottom: 3px solid #333333;
  border-left: 3px solid #CCCCCC;
  display: inline-block;
  white-space: nowrap;
  width: fit-content;
}

li#first{

  padding: 40px;
  padding-left: 10px;
   /* min-width:300px; */
   /* padding-right: min(80%,300px); */
   /* padding-right: 50%; */
   margin-left: 0;
   width: 300px;
}

li#second{
  min-width: 200px;
  padding: 40px;
  padding-right: 10px;
}

li#pic{
  min-width: 200px;
  display: inline;
  padding-top: 43px;
  padding-bottom: 43px;
  margin-left: 120px;
  /* margin: max(200px); */
  position: fl;
  text-align: right;
}

li#third{
  width: 60px;
  padding: 40px;
  padding-right: 50px;;
  padding-left: 20px;
}

ul{
  border-top: 3px solid #CCCCCC;
  border-right: 3px solid #333333;
  border-bottom: 3px solid #333333;
  border-left: 3px solid #CCCCCC;
  border-radius: 2rem;
  white-space: nowrap;
  margin: 2px;
  padding: 0;
  text-align: left;
  padding-left: 5px;
  /* width:fit-content; */
  max-width: 1400;
}

img{
  margin-top: 10px;
  
}

img#item{
  height: 100px;
  margin-bottom: -45px;
  border-radius:30px;
  align-items: end;
}

#categories{
  color: rgb(0, 0, 0);
  font-size: 1rem;
  width: 360px;
}

#categoriesDropDown{
  width: 300px;
  color: rgb(0, 0, 0);
}